.nav {
    /* position: relative; */
    /* overflow-x: hidden; */
}

@media screen and (max-width:767px) {
    .mobile-menu {
        width: 0;
        overflow: hidden;
        transition: width 0.5s ease;
        position: absolute;
        top: 77px;
        left: -13%;
        background: var(--secondary-color);
        padding: 50px 0;
    }

    .open {
        width: 113%;
        height: auto;
        overflow-x: hidden;
    }
    .menu {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

}