table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #5c5c5c;
    padding: 8px;
    text-align: left;
}

thead tr {
    background-color: var(--body-color);
}

/* Alternate row colors */
tr:nth-child(even) {
    background-color: var(--body-color);
}